---
layout: default
title: Technology Partners Supporting GitLab
description: Every application that supports Git will work with GitLab. Click here to see some of the applications & integrations we'd like to highlight.
suppress_header: true
extra_css:
  - applications.css
extra_js:
  - applications/search_bar.js
  - applications/broken_image_placeholder.js
  - applications/categories_scroller.js
  - scroll_to_top.js
---
.wrapper
  .simple-header
    %h1 Our Technology Partners
  .gitlab-content-container
    .search-container
      .flex-container.justify-center.align-center
        %span.fas.fa-search.search-apps-container-icon
        %input.js-search-apps{ type: "search", placeholder: "Search for an application by name" }
      %ul.suggestions
        .js-suggestions
    .js-app-list.affix-threshold
      .applications-info-container.container.flex-container.flex-wrap-md.full-width
        %p.application-info
          Every application that supports Git will work with GitLab. Below are some of the applications we wanted to highlight. To view the project services which are integrated into GitLab visit our <a href="https://docs.gitlab.com/ee/user/project/integrations/project_services.html">documentation page</a>. To learn more about integrating with GitLab and read how to add an application to this page, please head to our <a href="/integrations/">partners page</a>.
        .app-categories-container
          .app-categories
            - data.applications.each do |category|
              %a.app-category{ href: "##{category.id}"}
                = partial "/images/applications/categories/#{category.id.underscore}.svg"
                %span.category-name= category.title
      - data.applications.each do |category|
        %h2.category-title.js-category-title= category.title.split.map(&:capitalize).join(' ')
        .category-applications{ id: category.id }
          - category.applications.each do |application|
            .application.tile
              .app-image-container
                %img.app-image{ data: { src: "/images/applications/apps/#{application.title.parameterize.underscore}.png" } }
              %h4.js-application-title
                = application.title
              %p
                = application.content
              - if application.links
                - application.links.each do |app_link|
                  %a{href: app_link.url, title: app_link.title, class: 'link', target: '_blank', rel: 'noidex noopener nofollow noreferrer'}
                    = app_link.title
                  %br


    -# - data.applications.each do |category|
    -#   %h2.category-title.js-category-title= category.title.split.map(&:capitalize).join(' ')
    -#   .category-applications{ id: category.id }
    -#     - category.applications.each do |application|
    -#       .application.tile
    -#         .app-image-container
    -#           %img.app-image{ data: { src: "/images/applications/apps/#{application.title.parameterize.underscore}.png" } }
    -#         %h4
    -#           = application.title
    -#         %p.app-content
    -#           = application.content
    -#         - if application.links
    -#           - application.links.each do |app_link|
    -#             %a{href: app_link.url, title: app_link.title, class: 'link', target: '_blank', rel: 'noidex noopener nofollow noreferrer'}
    -#               = app_link.title
    -#             %br

    .js-scroll-to-top.scroll-to-top
      %i.fa.fa-chevron-up

%p.text-center.trademark All logos and trademarks are the property of their respective owners.

%script#js-placeholder-image{ type: 'text/template' }= partial '/images/applications/apps/placeholder.svg'
